---
apiVersion: v2
version: 0.34.0-unreleased # Chart version
appVersion: "2.13.0"  # Penpot version
type: application
name: penpot
description: Helm chart for Penpot, the Open Source design and prototyping platform.
maintainers:
  - name: Kaleidos INC
    url: https://kaleidos.net
home: https://penpot.app
icon: https://avatars.githubusercontent.com/u/30179644?s=200&v=4
sources:
  - https://github.com/penpot/penpot/tree/main
  - https://github.com/penpot/penpot-helm/tree/main
keywords:
  - kubernetes
  - penpot
  - penpotapp
  - design
  - designsystem
  - opensource
  - ux
  - ui
annotations:
  artifacthub.io/signKey: |
    fingerprint: F0B526DC641A6DCBD94A2B2BA11A82757E9E6942
    url: https://helm.penpot.app/pubkey.asc
  artifacthub.io/links: |
    - name: support
      url: https://github.com/penpot/penpot-helm/issues
    - name: community
      url: https://community.penpot.app
    - name: documentation
      url: https://help.penpot.app
    - name: tutorials
      url: https://www.youtube.com/playlist?list=PLgcCPfOv5v54WpXhHmNO7T-YC7AE-SRsr
    - name: dev-diaries
      url: https://penpot.app/dev-diaries.html
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: added
      description: Add support for CloudNativePG (CNPG) as a PostgreSQL backend.
    - kind: added
      description: Introduce new global configuration flags to control PostgreSQL backend selection (global.cnpg.enabled to deploy CNPG, global.cnpg.useAsPrimary to switch CNPG as primary, global.postgresqlEnabled to enable or disable Bitnami PostgreSQL).
    - kind: changed
      description: PostgreSQL backend selection logic now supports a migration mode where Bitnami PostgreSQL and CNPG can coexist before switching the primary database.
    - kind: deprecated
      description: Bitnami PostgreSQL is deprecated and will be supported for the next 3 chart releases only. Migration to CloudNativePG is manual and not performed automatically.
dependencies:
  - name: postgresql
    version: 15.5.38 # default appVersion 16.4.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: global.postgresqlEnabled
  - name: valkey
    version: 3.0.31 # default appVersion 8.1.3
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: global.valkeyEnabled
  - name: redis
    version: 19.6.4 # default appVersion == 7.2.5
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: global.redisEnabled
