{{ template "chart.header" . }}
{{ template "chart.versionBadge" . }}{{ template "chart.appVersionBadge" . }}{{ template "chart.typeBadge" . }}

{{ template "chart.description" . }}

## Installing the Chart

To install the chart with the release name `my-release`:

```console
$ helm repo add penpot http://helm.penpot.app
$ helm install my-release penpot/{{ template "chart.name" . }}
```

{{/* {{ template "chart.valuesSectionHtml" . }} */}}
{{ template "chart.valuesSection" . }}
